# CODEOWNERS file for ShortifyAF
# This file defines the code owners responsible for reviewing and approving changes.
# Whenever a pull request (PR) modifies files covered below, the listed owners will be requested for review.

# All files in the repository are owned by the following team members:
*       @yvettekwizera 
        @YusufMolumo 
        @SimeonAzeh
  
