version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: shortifyaf-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - shortifyaf-network
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: shortifyaf-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - shortifyaf-network

networks:
  shortifyaf-network:
    driver: bridge

volumes:
  mongo-data:
