---
- name: Deploy ShortifyAF container on Azure VM
  hosts: appserver
  become: yes
  vars:
    app_dir: "{{ lookup('env','ANSIBLE_PULL_PATH') | default('/home/azureuser/shortifyaf') }}"
    docker_compose_file: "{{ app_dir }}/docker-compose.yml"
    image_uri: "{{ image_uri }}"
